/* default styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

form * {
    appearance: none;
    -webkit-appearance: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input,
textarea {
    border: none;
    background-color: transparent;
    font-family: "Roboto-Reg", sans-serif;
    color: var(--white);
    font-size: 16px;
}



body {
    max-width: 100vw;
    width: 100%;
    overflow-x: hidden;
}

/* fonts */

@font-face {
    font-family: "Roboto-Reg";
    src: url("/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("/fonts/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto-Med";
    src: url("/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

/* colors */

:root {
    --white: #fff;
    --lightslategray: #8f99af;
    --lavender: #e3e8ef;
    --cornflowerblue: #6a83e1;
    --filter: #1e2f47;
    --darkslategray: #272d3e;
    --silver: #b7bec6;
    --whitesmoke: #eceff3;
    --gray: #7b7d83;
    --dimgray: #545f70;
}

/* components */

.img__lazy {
    opacity: 0;
    transition: opacity 1s ease;
}

.img__lazy_loaded {
    opacity: 1;
}

.wrapper {
    max-width: 1170px;
    width: 100%;

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.link {
    position: relative;
    font-family: "Roboto-Bold", sans-serif;
    letter-spacing: .4px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 24px 28px;
    color: var(--white);
    transition: all .3s ease;
    display: inline-block;
}

.link::before {
    content: '';
    width: calc(100% - 1px);
    height: calc(100% - 15px);
    border-left: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s ease;
}

.link::after {
    content: '';
    width: calc(100% - 1px);
    height: calc(100% - 15px);
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white);
    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s ease;
}

.link:hover {
    background-color: var(--cornflowerblue);
}

.link:hover::before {
    height: calc(100% - 1px);
    border-color: var(--cornflowerblue);
}

.link:hover::after {
    height: calc(100% - 1px);
    border-color: var(--cornflowerblue);
}

.link__primary {
    position: relative;
    font-family: "Roboto-Bold", sans-serif;
    letter-spacing: .4px;
    font-size: 16px;
    padding: 24px 28px;
    color: var(--cornflowerblue);
    transition: all .3s ease;
    display: inline-block;
}

.link__primary::before {
    content: '';
    width: calc(100% - 1px);
    height: calc(100% - 15px);
    border-left: 1px solid var(--cornflowerblue);
    border-bottom: 1px solid var(--cornflowerblue);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s ease;
}

.link__primary::after {
    content: '';
    width: calc(100% - 1px);
    height: calc(100% - 15px);
    border-right: 1px solid var(--cornflowerblue);
    border-top: 1px solid var(--cornflowerblue);
    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s ease;
}

.link__primary:hover {
    background-color: var(--cornflowerblue);
    color: var(--white);
}

.link__primary:hover::before {
    height: calc(100% - 1px);
    border-color: var(--cornflowerblue);
}

.link__primary:hover::after {
    height: calc(100% - 1px);
    border-color: var(--cornflowerblue);
}

.input {
    height: 60px;
    width: 100%;
    border: 1px solid var(--white);
    color: var(--white);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.textarea {
    width: 100%;
    border: 1px solid var(--white);
    height: 230px;
    resize: none;
    padding: 20px;
    text-align: center;
}

/* style */

.shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(15,15,15,.6);
    display: none;
    z-index: 1;
}

.mobile__menu {
    position: fixed;
    left: 100%;
    top: 0;
    transition: all .3s ease;
    background-color: var(--cornflowerblue);
    width: 50%;
    height: 100%;
    display: flex;
    z-index: 3;
}

.mobile__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    color: var(--white);
}

.mobile__menu .menu__item a {
    color: var(--white);
    font-size: 20px;
}

.mobile__menu_open {
    left: 50%;
}

.mobile__link {
    display: none;
    color: var(--white);
    font-size: 32px;
}

header {
    width: 100%;

    position: absolute;
    top: 65px;

    z-index: 2;
}

.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item a {
    font-family: "Roboto-Reg", sans-serif;
    color: var(--lightslategray);
    letter-spacing: .4px;
    font-size: 16px;

    transition: all .3s ease;
}

.menu__item_active {
    border-bottom: 1px solid var(--cornflowerblue);
}

.menu__item_active a {
    color: var(--white);
}

.menu__item:not(:last-child) {
    margin-right: 45px;
}

.menu__item:hover a {
    color: var(--white);
    border-bottom: 1px solid var(--cornflowerblue);
}

.phone {
    color: var(--white);
    font-size: 18px;
    font-family: "Roboto-Reg", sans-serif;
}

.slide__list {
    min-height: 100vh;
    width: 100%;
}

.slide__item {
    min-height: 100vh;
    width: 100%;

    display: flex !important;
    align-items: center;
    justify-content: center;
}

.slide__img {
    width: 100%;
    height: 100%;

    position: absolute;
    display: flex;
}

.slide__img img {
    object-fit: cover;
    width: 100%;
}

.slide__img::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: var(--filter);
    opacity: 0;
    animation-name: slide__img_before;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-duration: .5s;
}

@keyframes slide__img_before {
    0% {
        opacity: 0;

    }

    100% {
        opacity: .75;
    }

}

.slide__content {
    max-width: 980px;
    display: flex;
    z-index: 1;
}

.slide__content_left {
    padding-right: 40px;
    border-right: 1px solid var(--white);
}

.slide__content_header {
    color: var(--white);
    letter-spacing: 1.75px;
    font-size: 58px;
    line-height: 68px;
    font-family: "Roboto-Med", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    margin-top: -12px;
    margin-bottom: -12px;

/*   transformation */
    opacity: 0;
    transform: translateX(-50%);
    transition: all .3s ease;
}

.slick-current .slide__content_header {
    animation-name: slide__content_header;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide__content_header {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide__content_right {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.slide__content_desc {
    color: var(--white);
    letter-spacing: .45px;
    line-height: 32px;
    font-size: 18px;
    font-family: "Roboto-Reg", sans-serif;
    margin-top: -8px;
    opacity: 0;
}

.slick-current .slide__content_desc {
    animation-name: slide__content_desc;
    animation-duration: .5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

@keyframes slide__content_desc {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide__link {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    50% {
        transform: translateX(25%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide__content .link {
    opacity: 0;
    transform: translateX(50%);
}

.slick-current .link {
    animation-name: slide__link;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.slide__next {
    position: absolute;
    max-width: 1170px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    display: flex;
    justify-content: flex-end;
    color: var(--white);
    z-index: 3;
    cursor: pointer;
}

.slick-prev {
    display: none !important;
}


.slick-dots {
    width: 100%;
    max-width: 585px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;

    left: calc((100% - 1170px) / 2);
    bottom: 90px;
}

.dots__item {
    border: 1px solid var(--white);
    width: 11px;
    height: 11px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    transform-origin: center;
}

.slick-active .dots__item {
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-color: var(--cornflowerblue);
}

.slick-dots li {
    display: flex;
}

.slick-dots li:not(:last-child) {
    margin-right: 18px;
}

.top__desc {
    background-color: var(--darkslategray);
    padding: 140px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top__desc_text {
    max-width: 935px;
    text-align: center;
    color: var(--white);
    font-family: "Roboto-Reg", sans-serif;
    line-height: 38px;
    font-size: 24px;
}

.catalog__list {
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;
}

.catalog__list::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 150px;
    background-color: var(--white);
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.catalog__title {
    color: var(--silver);
    text-transform: uppercase;
    font-family: "Roboto-Bold", sans-serif;
    letter-spacing: 1.2px;
    display: inline-block;
    border-bottom: 3px solid var(--silver);
    margin-bottom: 80px;
    border-top: 10px solid transparent;
    margin-top: -10px;
}

.catalog__item {
    display: flex;
    position: relative;
    margin-top: 150px;
    justify-content: space-between;
}

.catalog__item:nth-child(4n+3) {
    flex-direction: row-reverse;
}
.catalog__item:nth-child(4n+4) {
    flex-direction: row-reverse;
}


.catalog__item:first-child {
    margin-top: 0;
}

.catalog__item_number {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 92px;
    font-family: "Roboto-Reg", sans-serif;
    letter-spacing: .45px;
    color: var(--whitesmoke);
    z-index: -1;
    line-height: 84px;
}

.catalog__item_content {
    padding-top: 50px;
    width: calc(50% - 30px);
    position: relative;
}

.catalog__item_img {
    width: calc(50% - 30px);
    overflow: hidden;
}

.catalog__item_title {
    font-family: "Roboto-Bold", sans-serif;
    letter-spacing: 1px;
    color: var(--darkslategray);
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 35px;
}

.catalog__item_desc {
    letter-spacing: .45px;
    font-family: "Roboto-Reg", sans-serif;
    line-height: 32px;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 35px;
}

.icon-download-alt {
    padding-right: 5px;
}

.form__container {
    background-color: var(--darkslategray);
    padding-top: 50px;
    padding-bottom: 30px;
}

.form__container .wrapper {
    background-image: url(/images/form-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 50px;
}

.form__wrapper {
    padding-top: 170px;
    padding-bottom: 160px;
    margin: auto;
    max-width: 540px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form__wrapper_title {
    font-family: "Roboto-Med", sans-serif;

    text-transform: uppercase;
    font-size: 36px;
    color: var(--white);
    letter-spacing: 1.44px;
    display: inline-block;
}

.form__wrapper_sub_title {
    font-family: "Roboto-Reg", sans-serif;

    text-transform: uppercase;
    font-size: 24px;
    color: var(--white);
    letter-spacing: .96px;
    display: inline-block;
    margin-bottom: 40px;
}

.form__wrapper_line {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.form__wrapper_line:nth-child(5) {
    margin-bottom: 40px;
}

.form__wrapper_line span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    font-family: "Roboto-Reg", sans-serif;
    font-size: 16px;
    letter-spacing: .64px;
    color: var(--gray);
    cursor: text;
}


footer.default {
    background-color: var(--darkslategray);
    padding: 120px 0px;
    border-top: 1px solid var(--dimgray);
}

.copyright {
    color: var(--lightslategray);
    font-family: "Roboto-Reg", sans-serif;
    font-size: 13px;
    padding-top: 25px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer__phone {
    margin-bottom: 25px;
}

.footer__phone,
.footer__address {
    font-family: "Roboto-Reg", sans-serif;
    font-size: 13px;
    color: var(--white);
    display: inline-block;
    position: relative;
}

.footer__phone::before {
    content: '\e801';
    font-family: icons;
    position: absolute;
    right: calc(100% + 10px);
    top: 0;
    color: var(--cornflowerblue);
}

.footer__address::before {
    content: '\f031';
    font-family: icons;
    position: absolute;
    right: calc(100% + 10px);
    top: 0;
    font-size: 18px;
    color: var(--cornflowerblue);
}

.footer__menu {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

/* media 1280px */

@media screen and (max-width: 1280px) {
    .wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .slide__next {
        padding-right: 20px;
    }

    .slick-dots {
        transform: unset;
        left: 20px;
    }

    .slide__content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 640px) {
    .slide__content {
        flex-direction: column;
    }

    .slide__content_left {
        padding-right: 0;
        padding-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid var(--white);
    }

    .slide__content_right {
        padding-left: 0;
        padding-top: 20px;
    }

    .slide__content_header {
        font-size: 34px;
        line-height: 34px;
    }

    .slide__content_desc {
        padding-bottom: 20px;
    }

    .slick-dots {
        width: auto;
        max-width: unset;
    }

    .catalog__item {
        flex-direction: column;
        width: 100%;
        margin-top: 40px;
    }

    .catalog__item_content,
    .catalog__item_img {
        width: 100%;
    }

    .catalog__item_img img {
        width: 100%;
        margin-top: 20px;
    }

    .catalog__title {
        margin-bottom: 40px;
    }

    .catalog__item:nth-child(4n+3),
    .catalog__item:nth-child(4n+4) {
        flex-direction: column;
    }

    .form__wrapper {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .catalog__list::after {
        height: 50px;
        top: calc(100% - 1px);
        clip-path: polygon(0 0, 100% 2%, 0 100%);
    }

    .menu__list {
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    .menu__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 40px;
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .top__desc {
        padding: 60px 20px;
    }

    footer.default {
        padding: 60px 0;
    }

    header {
        top: 20px;
    }

    header .menu__list,
    header .phone {
        display: none;
    }

    .mobile__link {
        display: block;
    }

    footer .logo {
        margin: auto;
    }

    .footer__menu {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}